.system-title-container{
    height: 70px;
    display: flex;
    align-items: center;
}

.system-title{
    margin: 0 0 0 20px;
    color: var(--primary-color);
}

.system-title-short{
    display: none;
}

@media (max-width:1300px){
    .system-title{
        font-size: 20px;
    }
}

@media (max-width:535px){
    .system-title{
        display: none;
    }

    .system-title-short{
        display: block;
        margin: 0 0 0 20px;
        color: var(--primary-color);
    }
}

.modal-body .col-lg-12, .modal-body .col-md-12, .modal-body .col-sm-12,  .modal-body .col-xs-12,
.modal-body .col-lg-6, .modal-body .col-md-6, .modal-body .col-sm-6, .modal-body .col-xs-6,
.modal-body .col-lg-4, .modal-body .col-md-4, .modal-body .col-sm-4, .modal-body .col-xs-4,
.modal-body .col-lg-3, .modal-body .col-md-3, .modal-body .col-sm-3, .modal-body .col-xs-3{
    padding-bottom: 20px;
}

#main-preloader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    z-index: 9999999;
}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #4b4b4b;
    border-bottom: 5px solid #4b4b4b;
    position: relative;
    background: linear-gradient(var(--primary-color) 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
}
.loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(100, 100, 100, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
}
.loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
}
@keyframes lqt {
    0%, 100% {
        background-image: linear-gradient(var(--primary-color) 40px, transparent 0);
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(var(--primary-color) 40px, transparent 0);
        background-position: 0% 40px;
    }
    50.1% {
        background-image: linear-gradient(var(--primary-color) 40px, transparent 0);
        background-position: 0% -40px;
    }
}
    @keyframes lqb {
    0% {
        background-image: linear-gradient(var(--primary-color) 40px, transparent 0);
        background-position: 0 40px;
    }
    100% {
        background-image: linear-gradient(var(--primary-color) 40px, transparent 0);
        background-position: 0 -40px;
    }
}
@keyframes spinx {
    0%, 49% {
        transform: rotate(0deg);
        background-position: 50% 36px;
    }
    51%, 98% {
        transform: rotate(180deg);
        background-position: 50% 4px;
    }
    100% {
        transform: rotate(360deg);
        background-position: 50% 36px;
    }
}

.status-active{
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
    color:var(--success-color);
    background-color:rgba(var(--success-rgb),.18)
}

.filepond--root {
    margin-bottom: 0 !important;
}
.filepond--credits{
    display: none;
}

.auto-grow-textarea {
    field-sizing: content;
    resize: none;   
    overflow-y: hidden;  
    min-height: 2.25rem;
}

label.required::after {
	content: " *";
	color: red;
	font-weight: bold;
}